@import url('https://fonts.googleapis.com/css2?family=Buenard:wght@400;700&family=Flamenco:wght@300;400&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Playwrite+AU+SA:wght@100..400&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

body{
    font-family: "Open Sans", serif;

}

/* Shared Style */
.text-primary{
    color: rgb(253, 110, 10);
}

.dark-2{
    text-decoration: none;
    color: rgb(71, 71, 71);
    font-size: 20px;
    font-weight: 400;
    line-height: 27px;

}
.btn-primary{
    font-size: 20px;
    font-weight: 700;
    color: white;
    border: none;
    width: 150px;
    height: 64px;
    border-radius: 5px;
    background: rgb(253, 110, 10);
}
.btn-secondary{
    font-size: 20px;
    font-weight: 700;
    color: rgb(0, 0, 0);
    border: 2px solid rgb(253, 110, 10);
    width: 150px;
    height: 64px;
    margin-left: 30px;
    border-radius: 5px;
    background: #FFF8F3;
}


.btn-s{
    text-decoration: none;
    font-size: 20px;
    color: aliceblue;
}
.section-title{
    font-size: 35px;
    font-weight: bold;
    color: rgb(24, 24, 24);
}
.section-description{
    font-size: 18px;
    color: rgb(117, 117, 117);
    
}
.secondary-bg{
    background-color: rgb(255, 248, 243);

}
.text-center{
    text-align: center;
}
/* Header Section */
.header{
    background-image: url(../images/hero-left.png),url(../images/hero_bg.png);
    background-repeat: no-repeat;
    background-position:  left, bottom right;
    border-radius: 5px;
}

/* Nav style */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 200px;
}
.nav-title{
   
font-size: 45px;
font-weight: 800;

}
nav ul{
    display: flex;
    list-style: none;
    align-items: center;
}

nav ul li{
    
    margin-right: 50px;
}
nav ul li:hover{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: 700;
    color: white;
    border: none;
    width: 150px;
    height: 64px;
    border-radius: 5px;
    background: rgb(253, 110, 10);



}
nav li a {
    text-decoration: none;
    font-size: 20px;
    color: aliceblue;
}


/* Hero Style */

.banner{
    display: flex;
    justify-content: space-between;
    margin: 50px 35px 0px 200px;
}
.banner-content{
    max-width: 580px;
    
}
.banner-greetings{
color: rgb(71, 71, 71);
font-size: 45px;
margin-bottom: 0;


}
.banner-title{
    color: rgb(24, 24, 24);
    font-size: 85px;
    font-weight: 700;
    margin-top: 5px;
    margin-bottom: 20px;

}
.banner-profile{
    width: 500px;
}
main{
    max-width: 1140px;
    margin: 0 auto;
}
main section{
    margin-top: 130px;
    margin-bottom: 130px;
}
/* About Style */
.about{
    border-radius: 10px;
    text-align: center;
    padding: 130px  150px;
    
}
.about-items{
    display: flex;
    justify-content: space-around;
    
}
.item-description{
    font-weight: 600;
}

/* What I do Section Style */

.skills-container{
    display: flex;
    gap: 24px;

}
.skill{
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0px 6px 50px 0 rgba(0, 0, 0, 0.06);
}
.sec-des{
    padding: 0 50px;
    margin-bottom: 50px;
}
/* resume Section Style  */
.resume-container{
    display: flex;
    gap: 24px;
}
.experience-title{
    color: rgb(71, 71, 71);
    font-size: 25px;
}
.experience-sub-title{
    color: rgb(117, 117, 117);
font-family: Open Sans;
font-size: 20px;
}
.resume-column-title{
    font-size: 30px;
    
}
.experience-subtitle{
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 20px;
}
.experience-description, .experience-subtitle {
    color: #757575;

}
.experience-description{
    font-size: 16px;


}

.resume hr{
    margin: 30px 5px;
}
.resume-download-cv{
    margin-top: 50px;
}

/* Footer Style  */
.footer-top {
    display: flex;
    background: #fff8f3;
    padding: 130px 200px;
    margin-top: 100px;
    border-radius: 10px;
 }
 .footer-column {
  width: 50%;
  
 }
 #footer-left {
  padding-right: 15%;
  
 }
.footer-title{
  text-align: left;
  
}
 .contact input, textarea{
    display: block;
    margin-bottom: 25px;
    padding: 18px 45px;
    color: #757575;
    border-radius: 5px;
    border: 0;
    width: 100%;

 }

 .social-links{
      display: flex;
      gap: 20px;
      margin-top: 30px;
 }
.footer-copy-right{
  background: #FFF8F3;
  color: #141414;
  text-align: center;
  padding: 30px 0;
  margin: auto;
  border-radius: 10px;
}