@import url('https://fonts.googleapis.com/css2?family=Buenard:wght@400;700&family=Flamenco:wght@300;400&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Playwrite+AU+SA:wght@100..400&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

body{
    font-family: "Open Sans", serif;

}

/* Shared Style */
.text-primary{
    color: rgb(253, 110, 10);
}

.dark-2{
    text-decoration: none;
    color: rgb(71, 71, 71);
    font-size: 20px;
    font-weight: 400;
    line-height: 27px;

}
.btn-primary{
    font-size: 20px;
    font-weight: 700;
    color: white;
    border: none;
    width: 150px;
    height: 64px;
    border-radius: 5px;
    background: rgb(253, 110, 10);
}
.section-title{
    font-size: 35px;
    font-weight: bold;
    color: rgb(24, 24, 24);
}
.section-description{
    font-size: 18px;
    color: rgb(117, 117, 117);
}
.secondary-bg{
    background-color: rgb(255, 248, 243);

}
/* Header Section */
.header{
    background-image: url(../images/hero-left.png),url(../images/hero_bg.png);
    background-repeat: no-repeat;
    background-position:  left, bottom right;
}

/* Nav style */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 200px;
}
.nav-title{
   
font-size: 45px;
font-weight: 800;

}
nav ul{
    display: flex;
    list-style: none;
    align-items: center;
}

nav ul li{
    
    margin-right: 50px;
}
nav ul li:hover{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: 700;
    color: white;
    border: none;
    width: 150px;
    height: 64px;
    border-radius: 5px;
    background: rgb(253, 110, 10);



}
nav li a {
    text-decoration: none;
    font-size: 20px;
    color: aliceblue;
}


/* Hero Style */

.banner{
    display: flex;
    justify-content: space-between;
    margin: 50px 35px 0px 200px;
}
.banner-content{
    max-width: 580px;
    
}
.banner-greetings{
color: rgb(71, 71, 71);
font-size: 45px;
margin-bottom: 0;


}
.banner-title{
    color: rgb(24, 24, 24);
    font-size: 85px;
    font-weight: 700;
    margin-top: 5px;
    margin-bottom: 20px;

}
.banner-profile{
    width: 500px;
}
main{
    max-width: 1140px;
    margin: 0 auto;
}
/* About Style */
.about{
    border-radius: 10px;
    text-align: center;
    padding: 130px  150px;
    margin-top: 130px;
}
.about-items{
    display: flex;
    justify-content: space-around;
    
}
.item-description{
    font-weight: 600;
}